html  {    
  position:relative; 
}
/* настройки всего основоного сайта */
body {
    font-family: "Trebuchet MS", "Verdana", sans-serif;
    font-size: 24px;
    line-height: 22px;
    background-color: #FFA883;
    color: #4c4845;
    height: auto;
    margin:0; 
    padding:0;
    display:block;
    background-image: url(img/FON.jpg);
}
/* Настройка подвала */
footer{
    font-family: "Trebuchet MS", "Verdana", sans-serif;
    line-height: 22px;
    background-color: #582B39;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
    
}
/* Настрока шапки, лого слева */
  .header-img{
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: left;
    padding: 10px 20px;
    background-color: #9b0000;
    color: #FFF7F3;
    margin: 0;
    padding: 0;
}
/* Редактирование ссылок, белый цвет постоянный */
.silki{
  margin: 14px;
  font-size: 24px;
  color: #FFE6D9 !important;
  text-decoration: none;

}
/* Навигация сайта в шапке */
.bob{
    position: absolute;
    right: 05%;

}
/* Связь в шапке */
.bab{
  position: absolute;
  right: 20%;
  color: #FFE6D9;
}
/* Уменьшение поля в подвале */
.ft{
  width: 90%;
}
/* Список в подвале */
.spisok{
  font-size: 20px;
  line-height: 20px;
  color: #FFE6D9;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
  list-style-type: none;
}
/* поле для сортировки товаров */
.container {
  width:90%;
  margin:0 auto;
  height: 40%;
}

input[type="radio"] {
    display:none;
}
/* Метка ярлык */
label {
  width:30%;
  height: 40%;
  float:left;
  text-align:center;
  background:#9b0000;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#FFF7F3;
  padding:0.5%;
  margin:0.5%;
  margin-bottom:30px;
  cursor:pointer;
}
/* Проверка */
input[type="radio"][id="blue"]:checked ~ .red, input[type="radio"][id="blue"] {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
/* Проверка */
input[type="radio"][id="red"]:checked ~ .blue, input[type="radio"][id="red"] {
  width:0;
  height:0;
  padding:0;
  margin:0;
  opacity:0;
}
/* Редактирование самих товаров */
.tile {
  width:30%;
  height: 10%;
  float:left;
  transition:all 1s;
  margin:0.5%;
  padding:0.5%;
  text-align: center;
}
/* Фон */
.blue {
  background:#FFCDA6;
}
/* Фон */
.red {
  background:#FFCDA6;
}
/* Редактирование кнопки вверх */
.topNubex {
	right: 45px;
	bottom: 45px;
  margin: 14px;
  font-size: 24px;
  color: #FFE6D9 !important;
  text-decoration: none;
}
/* Сотрудник */
.spec {
  width: 60%;
  margin: 25px 0 15px 0;
  padding: 10px;
  font-family: georgia italic impact;
}
/* Заглавное слово */
.start-cons {
  font-family: georgia italic impact;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 100px;
}
/* Расположение коробки */
.cons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* Размер и цвет */
.cons_page {
  width: 600px;
  margin-bottom: 10px;
  height: 450px;
  margin-right: 20px;
  background-color: None;
}
/* Расположение фото */
.photo-cons {
  position: relative;
  left: 30%;
  margin-top: 10px;
}
/* Редактирование тексчта в коробке консультанта */
.info-cons {
  text-align: start;
  padding-left: 10px;
  padding-right: 10px;
  font-family: georgia italic impact;
  font-size: 24px;
  color: #141413;
}
/* Имя консультанта */
.name-cons {
  text-align: center;
  font-family: georgia italic impact;
  font-size: 26px;
}
/* Расположение нового контейнера с рассылкой */
.container1 {
  padding: 20px;
  margin: 20px;
  background-color: #f1f1f1;
  width: 80%;
  margin: auto;
  height: 100px;
}
/* Редактирование поле */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}

